@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Basic', serif;
    overflow-x: hidden;
}

/* Navigation Styles */
.custom-navbar {
    background: transparent;
    color: white;
    padding: 15px 0;
    font-family: 'Outfit', sans-serif;
}

.custom-navbar .nav-link {
    color: white !important;
    font-size: 16px;
    margin-right: 15px;
    font-family: 'Outfit', sans-serif;
}

.navbar-brand img {
    height: 30px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand img {
    height: 30px;
    display: block;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons a {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

/* Hero Section */
.hero-section {
    background-image: url('Foto/herosection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: relative;
}

.hero {
    padding: 100px 20px;
}

@media (min-width: 768px) {
    .hero {
        padding: 150px 20px;
    }
}

.hero-text {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Basic', serif;
}

@media (min-width: 768px) {
    .hero-text {
        max-width: 75%;
    }
}

.hero-text h1 {
    letter-spacing: 3px;
    font-size: 2.5rem;
    font-family: 'Basic', serif;
}

@media (min-width: 768px) {
    .hero-text h1 {
        font-size: 5rem;
    }
}

.hero-text p {
    font-size: 1rem;
    margin: 10px;
    font-family: 'Outfit', sans-serif;
}

/* Button Styles */
.btn2 {
    color: #121212;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    border: none;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px; 
    width: 150px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #121212;  
}

.custom2-btn:active {
    background-color: #121212 !important; 
    color: white !important; 
    box-shadow: 4px 4px 0px white;  
    transform: translateY(3px);
}

/* About Us Section */
.about-us {
    background-color: #d9d9d9;
    padding: 100px 0;
    background-image: url('Foto/section1.png');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .about-us {
        padding: 250px 0;
    }
}

.text-content {
    text-align: left;
    padding: 20px;
    display: inline-block;
}

.about-us-img img {
    width: 150px; 
    height: auto; 
    max-width: 100%;
    margin-left: 12px; 
}

.title2 {
    font-size: 36px;
    font-family: 'Basic', serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

@media (min-width: 768px) {
    .title2 {
        font-size: 50px;
    }
}

.btn1 {
    color: #121212;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    border: none;
    text-decoration: none;
    padding: 10px 20px; 
    width: 150px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 4px 4px 0px gray;  
}

.custom-btn:active {
    background-color: gray !important; 
    color: white !important; 
    box-shadow: 4px 4px 0px white;  
    transform: translateY(3px);
}

/* Community Section */
.community {
    background-color: #d9d9d9;
    padding: 100px 20px;
    background-image: url('Foto/section\ 2.png');
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .community {
        padding: 250px 20px;
    }
}

.community .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .community .container {
        align-items: end;
    }
}

.btn3 {
    color: #121212;
    background-color: white;
    font-family: 'Outfit', sans-serif;
    border: none;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px 20px; 
    width: 150px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #121212; 
}

@media (min-width: 768px) {
    .btn3 {
        margin-top: -60px;
        margin-left: -70%;
    }
}

.custom3-btn:active {
    background-color: #121212 !important; 
    color: white !important; 
    box-shadow: 4px 4px 0px white;  
    transform: translateY(3px);
}

.title1 {
    font-size: 50px;
    font-family: 'Basic', serif;
    line-height: 1.1;
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

@media (min-width: 768px) {
    .title1 {
        font-size: 150px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: 400px;
        text-align: right;
    }
}

/* Shop Section */
.shop-section {
    background-color: #d9d9d9;
    padding: 60px 20px;
    text-align: center;
}

.section-title {
    font-size: 40px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.shop-hero {
    width: 100%;
    text-align: left;
}

.shop-hero h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-left: 20px;
    position: relative; 
    top: 30px;
}

@media (min-width: 768px) {
    .shop-hero h2 {
        padding-left: 50px;
        top: 90px;
    }
}

.shop-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.view-all {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    top: 20px;
    right: 0;
}

@media (min-width: 768px) {
    .view-all {
        top: 50px;
    }
}

.shop-items {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scrollbar-width: none;
}

.shop-items::-webkit-scrollbar {
    display: none;
}

.item {
    padding: 20px;
    border-radius: 10px;
    min-width: 250px;
    text-align: center;
    position: relative;
}

.item img {
    width: auto;
    height: 300px;
    border-radius: 5px;
    max-width: 100%;
}

.price1 {
    top: 18px;
    right: 25px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0;
}

.sizes button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

.sizes button a {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.sizes button:active {
    background: white;
    color: black;
}

.sizes button:active a {
    color: black;
}

/* Trending Section */
.trending-section {
    background-color: #5C738B;
    padding: 50px 20px;
}

.trending-title .trd-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .trending-title .trd-title {
        margin-left: 200px;
    }
}

.trending-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 100%;
    margin: auto;
}

@media (min-width: 768px) {
    .trending-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        max-width: 90%;
    }
}

.trending-box {
    border-radius: 10px;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .trending-box {
        padding: 50px;
    }
}

.trending-box.large {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

@media (min-width: 768px) {
    .trending-box.large {
        grid-column: span 2;
        height: 500px;
    }
}

.skena {
    background-image: url('Foto/skena.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

.smart {
    margin-top: 0;
    display: block;
    padding: 0;
    width: 100%;
    height: 300px;
}

@media (min-width: 768px) {
    .smart {
        margin-top: -40px;
        width: 500px;
        height: 554px;
        margin-left: 120px;
    }
}

.smart .txt {
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 100%;
    height: 69%;
    background-color: #d9d9d9;
    padding: 30px;
}

@media (min-width: 768px) {
    .smart .txt {
        margin-top: 15px;
        padding: 70px;
    }
}

.txt .title4 {
    font-size: 36px;
    font-family: 'Basic', serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #121212;
    margin-left: 0; 
    margin-top: 10px;
    z-index: 99;
}

@media (min-width: 768px) {
    .txt .title4 {
        font-size: 60px;
        margin-bottom: 50px;
        margin-left: -45px;
        margin-top: 30px;
        white-space: nowrap;
    }
}

.text1 .title9 {
    font-size: 36px;
    font-family: 'Basic', serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #121212;
    margin-left: 0;
    margin-top: 10px;
    z-index: 99;
}

@media (min-width: 768px) {
    .text1 .title9 {
        font-size: 55px;
        margin-bottom: 50px;
        margin-left: -10px;
        margin-top: 20px;
        white-space: nowrap;
        text-indent: -20px;
    }
}

.text1 .description9 {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: -10px;
    color: #121212;
    line-height: 1;
}

@media (min-width: 768px) {
    .text1 .description9 {
        font-size: 18px;
        margin-top: -50px;
        padding-left: 10px;
        margin-left: 0px;
    }
}

.smart img {
    position: relative;
    z-index: 9;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .smart img {
        right: -50px;
        bottom: 0px;
        top: -60px;
        position: absolute;
        width: 85%;
    }
}

.y2k {
    background-image: url('Foto/y2k.png');
    height: 300px;
    width: 100%;
    border-radius: 10px; 
    overflow: hidden; 
}

@media (min-width: 768px) {
    .y2k {
        height: 415px;
        width: 550px;
        margin-right: 110px;
        margin-top: -60px;
    }
}

.title6 {
    font-size: 40px;
    font-family: 'Basic', serif;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #121212;
    margin-left: 0; 
    margin-top: 0;
}

@media (min-width: 768px) {
    .title6 {
        font-size: 90px;
        margin-bottom: 50px;
        margin-left: 100px;
        margin-top: -120px;
    }
}

.description1 {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: 0;
    color: #121212;
    line-height: 1;
}

@media (min-width: 768px) {
    .description1 {
        font-size: 20px;
        margin-top: -50px;
        padding-left: 155px;
        margin-left: -50px;
    }
}

.description8 {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    margin-top: 0;
    color: #121212;
    line-height: 1;
}

@media (min-width: 768px) {
    .description8 {
        font-size: 20px;
        margin-top: -50px;
        padding-left: 15px;
        margin-left: -50px;
    }
}

.description2 {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #121212;
    position: relative; 
    top: 0; 
    margin-left: 0;
}

@media (min-width: 768px) {
    .description2 {
        font-size: 19px;
        padding-left: 10px;
        top: -90px;
        margin-left: 100px;
    }
}

.btn5 {
    background-color: #121212; 
    color: white; 
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    width: 150px;
    transition: all 0.3s ease-in-out;
    position: relative;
    box-shadow: 4px 4px 0px white;  
    z-index: 10; 
    margin-left: 0; 
}

@media (min-width: 768px) {
    .btn5 {
        margin-left: 100px;
    }
}

.custom5-btn:active {
    background-color: white !important; 
    color: #121212 !important; 
    box-shadow: 5px 5px 0px #121212; 
    transform: translateY(3px);
}

/* Footer */
.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
}

@media (min-width: 768px) {
    .footer {
        padding: 40px 60px;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

@media (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 20px;
    }
}

.footer-logo img {
    width: 120px;
    margin-bottom: 30px;
}

.short-description {
    font-family: 'Outfit', sans-serif;
    color: #ffffff; 
    font-size: 16px;
    line-height: 1.2; 
    margin: 20px 0; 
    margin-bottom: 30px;
    text-align: left;
    display: block; 
    white-space: normal; 
    align-items: start;
}

@media (min-width: 768px) {
    .short-description {
        font-size: 18px;
        margin-bottom: 15%;
    }
}

.payment-logos img {
    height: 25px;
    margin-right: 18px;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .footer-links {
        margin-left: 230px;
        display: flex;
        gap: 70px;
        margin-top: 3%;
    }
}

.footer-column h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.8;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid white;
    margin-top: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-bottom {
        flex-direction: row;
    }
    
    .footer-bottom p:first-child {
        flex-grow: 0;
    }
    
    .footer-bottom p:last-child {
        flex-grow: 1;
        text-align: center;
    }
}

.social-icons {
    display: flex;
    gap: 10px;
}

@media (min-width: 768px) {
    .social-icons {
        flex-direction: column;
    }
}

.social-icons img {
    height: 24px;
    margin-right: 0;
}

/* Product Page Styles */
.hero-section-pesanan {
    background-color: white;
}

.navbar-custom {
    background: transparent !important;
    padding: 15px 0;
    font-family: 'Outfit', sans-serif;
}

.navbar-custom .nav-link {
    color: black !important;
    font-size: 16px;
    margin-right: 15px;
    font-family: 'Outfit', sans-serif;
}

.product-image {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 2px;
    box-shadow: 1px 2px 0px #121212;
}

.recomen-section {
    margin-top: 30px; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center; 
}

.recomen-images {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .recomen-images {
        flex-wrap: nowrap;
        margin-right: 30%;
    }
}

.recomen-item {
    width: 70px;
    height: 90px;
    border-radius: 2px;
}

.col-md-6 h3 {
    font-size: 20px;
    font-family: 'Basic', serif;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .col-md-6 h3 {
        margin-right: 40px;
        margin-top: -30px;
    }
}

.long-line {
    width: 100%;
    height: 3px;
    background-color: black;
    border: none;
    margin: 10px 0;
}

.color-options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s, border-color 0.3s;
}

.color-circle:hover {
    transform: scale(1.1);
    border-color: black;
}

.color-black {
    background-color: black;
    border-color: black;
}

.color-white {
    background-color: white;
    border-color: gray;
}

.color-gray {
    background-color: gray;
    border-color: gray;
}

.color-text {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-bottom: 20px;
    top: 0%;
}

.size-title {
    font-size: 16px;
    margin-top: 20px;
    font-weight: bold;
    color: #121212;
    margin-bottom: 25px;
    font-family: 'Outfit', sans-serif;
}

.size-options {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.size-btn {
    background-color: white;
    color: black;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    border: none;
}

.size-btn:hover {
    background-color: black;
    color: white;
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3);
}

.size-btn:active {
    background-color: #121212;
    color: white;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
}

.custom-dark {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.custom-outline {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.custom-dark:hover {
    background-color: #333;
}

.custom-outline:hover {
    background-color: black;
    color: white;
}

.custom-dark:active {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.custom-outline:active {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.turtleneck-title {
    font-size: 25px;
    color: #121212;
    margin-top: 20px;
    font-family: 'Basic', serif;
}

.turtleneck-desc {
    font-size: 16px;
    line-height: 1.2;
    color: #555;
    font-family: 'Basic', serif;
    max-width: 600px;
}

/* Responsive Navbar */
.navbar-toggler {
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Fix for mobile navbar */
@media (max-width: 767.98px) {
    .navbar-collapse {
        background-color: rgba(0, 0, 0, 0.9);
        padding: 20px;
        border-radius: 5px;
        margin-top: 10px;
    }
    
    .navbar-custom .navbar-collapse {
        background-color: rgba(255, 255, 255, 0.9);
    }
    
    .navbar-brand {
        position: static;
        transform: none;
    }
}